<!-- Blog Post -->
<div class="card mb-4" *ngFor="let post of posts">
<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
<div class="card-body">
    <h2 class="card-title">{{post.title}}</h2>
    <p class="card-text">{{post.body | slice:0:100}}</p>
    <a (click)="selected.emit(post.id)" class="btn btn-primary">Read More &rarr;</a>
</div>
<div class="card-footer text-muted">
    Posted on {{post.createdAt | date}} by
    <a href="#">{{post.author?.name}} {{post.author?.surname}}</a>
</div>
</div>