<!-- Page Content -->
<div class="container">

    <div class="row">
  
      <!-- Blog Entries Column -->
      <div class="col-md-8">
  
        <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
        </h1>
        
        <ab-posts-list [posts]="(posts$ | async) || []"></ab-posts-list>
        
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
        </ul>
  
      </div>
  
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
  
       <ab-search></ab-search>
  
       <ab-categories-list></ab-categories-list>
  
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
  
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->